body{

  background: #06283D;
    text-align: center;

}
.na{

  color: white;
}
.navbar-light .navbar-nav .nav-link {
    color:white;
}
h1{
    color: white;
}
h2{
    color: white;
}
.first {
  padding-top: 3rem;
}
.text{
padding-top: 4rem;

}

span{
  display: block;
}

.phone{

  margin-bottom: 1rem;
  color: white;
}



.b2{
margin-right: 1rem;
}

.second
{
  margin-top: 2rem;
  background-color: white;
  padding-bottom: 5rem;
}


.moma{
  padding-top: 2rem;
  font-weight: bold;
}

.second{
margin-top: 4rem;
font-weight: bold;
}

.icon {
  color: #06283D;
}

.icon:hover{
color: grey;

}

p{
padding-top: 1rem;

}
